/* root colors */
:root {
  --international-orange: #f45100;
  --congress-blue: #0458a2;
  --cloud: #c6c6c6;
  --stardust: #EDEDED;
  --main-font:"Fira Sans", Helvetica;
  /* --bs-accordion-btn-icon: url(images/circle-up-regular.svg); */
}
body {
  padding-bottom: 2%;
  font-family: var(--main-font);
}
.container {
  margin: 0 auto;
  width: 95%;
  padding: 2%;
}
.wrapper{
  padding: 2%;
}
/* header */

.header {
  background-color: var(--stardust);
}
.logo{
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 64px;
  color: var(--congress-blue);
}
.user {
  color: #004989;
  font-weight:700;
  padding-bottom: 30px;
}
.user img{
  border-radius: 6%;
  border: 5px solid white;
  width: 200px;
  height: 200px;
}
.greeting{
  font-size: 54px;
  padding-top: 6%;
  margin-left: 20%;
}

/* daily dropdown */
.dropdown {
  font-size: 40px;
  font-weight: light;
}
.accordion-button .bi::before {
  content: url(images/circle-up-regular.svg);
}
.accordion-body{
  background-color: var(--stardust);
}
.accordion-body row {
  padding: 50px ;
}
.accordion-body a {
text-decoration: none;
}
.blue-box-header {
  background-color: var(--congress-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:white;
  padding: 13px;
  font-size: 50px;
}
.dropdown-article {
  background-color: white;
}
.article {
  padding: 20px;
  position: relative;
}
.article-title{
  color:var(--congress-blue);
  font-size: 40px;
}
.article-content {
  font-size: 50px;
  color: black;
}
.article-grey{
  background-color: var(--stardust);
  position: relative;
}
.arrow-icon{
  position: absolute;
  top: 40%;
  right: 2%;
  color: var(--congress-blue);
  font-size: 30px;
}

/* weather forecast */
.weather {
  background-color: var(--congress-blue);
  color:white;
  padding: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.weather img{
  height:150px;
  width: 150px;
}
.temperature {
  font-size: 40px;
}
.forecast {
  font-size: 50px;
  text-align: center;
}

/* stock ticker */
.ticker h2 {
  color: var(--congress-blue);
  padding-top: 5%;
}
.ticker .col {
  background-color: var(--stardust);
  padding: 5px;
  margin: 5px;
  width: 70px;
}
@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-108rem, 0, 0);
  }
}
.img-ticker {
  animation: ticker-kf 18s linear infinite;
}
.ticker {
  margin-bottom:10px;
}

/* top news */
.additonal {
  margin-bottom: 5%;
  border-top: 1px solid gray;
}
.accordion-main {
  background-color: white;
  margin-top: 20px;
}
.main {
  background-color: white;
}
.accordion-item {
  margin-bottom: 5px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  color: white;
}
.date {
  font-size: 40px;
  color: white;
  padding: 5px;
}
.daily-header {
  margin-top: 10px;
}
.daily-header h2 {
  color: var(--international-orange);
  font-size: 54px;
  font-weight: bold;
  margin-top: 20px;
}
.daily-header i {
  color: var(--international-orange);
  font-size: 50px;
  margin-top: 30px;
}
.orange-header {
  background-color: var(--international-orange);
  color: white;
  padding: 5px;
}
.article-title-orange{
  color:var(--international-orange);
  font-size: 40px;
}
.arrow-icon-orange {
  color: var(--international-orange);
  font-size: 30px;
  position: absolute;
  top: 40%;
  right: -0.5%;
}

/* saved articles */
.save{
  color: grey;
  font-size: 50px;
  text-align: center;
}

/* download */
.download {
  border-radius: 10px;
  background-color: var(--congress-blue);
  padding-left: 3%;
  padding-right: 3%;
  margin: 5%;
}
.download a {
  color: white;
  text-decoration: none;
}
.download a:hover {
  color:white;
}
.download .logomark {
  font-size: 64px;
  margin-top: 0;
  padding-top: 1%;
  color: white;
  padding-bottom: 10%;
}
.read {
  font-size: 80px;
  position: relative;
  text-align: center;
}
.pointer {
  position: absolute;
  right: 20%;
  font-size: 200px;
  bottom:40%;
}

/* video */
.video {
  padding: 20px;
  background-color: var(--international-orange);
}
iframe {
  width:100%;
  height:750px;
}
.video .logo{
  padding-top: 0;
  color: white;
}

/* price bar chart */
.producer-price-indices {
  color: var(--international-orange);
  padding: 40px;
  margin: 20px;
}
.producer-price-indices h2 {
  font-size: 64px;
  font-weight: bold;
}
.producer-price-indices p {
  font-size: 40px;
  line-height: 70px;
}

/* top keywords */
.keywords .col-1 {
  background-color: var(--international-orange);
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 20%;
  height: 40px;
  border-radius: 3px;
}

/* footbar */
.footer {
  text-align: center;
  color: white;
  background-color: var(--congress-blue);
  font-size: 50px;
  padding: 5%;
  height: 600px;
}

/* navigation bar */
.navbar {
  margin: 0 auto;
}
.nav-link i{
  font-size: 40px;
  padding-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
}
.start{
  padding-top: 5px;
  margin-left:0;
}
.search i{
  font-size: 20px;
  background-color: var(--international-orange);
  color: white;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
}

/* for screens under 1399px width */
@media (max-width: 1399px) {
  .logo{
    font-size: 44px;
  }
  .greeting{
    font-size: 34px;
  }
  .user img{
  width: 150px;
  height: 150px;
}
.daily-header h2 {
  font-size: 34px;
}
.daily-header i {
  font-size: 30px;
}
.arrow-icon-orange {
  font-size: 20px;
  right: 2%;
}
.date {
  font-size: 30px;
}
.article-title-orange{
  font-size: 20px;
}
.arrow-icon{
  font-size: 20px;
}
.article-title{
  font-size: 20px;
}
.article-content {
  font-size: 30px;
}
.nav-link i{
  font-size: 20px;
  margin-left: 90px;
  margin-right: 90px;
}
.search i{
  font-size: 20px;
}
.weather img{
  height:50px;
  width: 50px;
}
.temperature {
  margin-left: 5%;
  font-size: 15px;
}
.forecast {
  font-size: 20px;
  text-align: center;
}
.download .logomark {
  font-size: 34px;
}
.read {
  font-size: 50px;
}
.pointer {
  font-size: 100px;
  bottom:70%;
}
.keywords .col-1 {
  font-size: 12px;
  padding: .8%;
  margin: .8%;
}
.footer {
  font-size: 30px;
  padding: .5%;
  height: 400px;
}
.save{
  font-size: 30px;
}
iframe {
  width:100%;
  height:400px;
}
.producer-price-indices h2 {
  font-size: 44px;
}
.producer-price-indices p {
  font-size: 20px;
  line-height: 30px;
}
}
@media (max-width: 1200px) {
  .nav-link i{
  font-size: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
}
